/* .navbar{
    background-color: #7bb5ff;
} */
.navbar-brand > img{
    height: 75px;
    object-fit: cover;
}
.logo > img{
    height: 100px;
    object-fit: cover;
}
.container-fluid > img{
    height: 700px;
    width: 100%;
    object-fit: cover;
}
.text-block-header{
    width: 60%;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 20%;
    color: white;
    font-size: 67px;
    line-height: 1.4;
}
.text-block-header > a:hover{
    background-color: white;

}
/* .text-block-header > a{
    background-color: #7bb5ff;
} */