*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat";
}
.top{
    height: 101px;
}
.nav-link{
    color: white;
}
.navbar-default{
  transition:500ms ease;
  background:#6e6c67;
}
/* .nav-item > .active{
    color: black;
    border-bottom: 50px;
} */
.navbar-default.scrolled{
  background:#6e6c67;
}
.navbar-brand > img{
    height: 75px;
    object-fit: cover;
}
.logo > img{
    height: 75px;
    width: auto;
}
.logo{
    background-color: white;
    border-radius: 50%;
}
.container-fluid > img{
    height: 750px;
    width: 100%;
    object-fit: cover;
}
.text-block-header{
    /* width: 60%;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 20%;
    font-size: 67px;
    line-height: 1.2; */
    text-align: center;
    /* font-size: 67px; */
}
.banner_image{
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
}
.text-banner{
    color: white!important;
    text-align: center;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 10px #6e6c67;

    /* text-decoration-color: black; */
}
.text-banner > b{
    width: 70%;
    display: block;
}
.banner_button{
    background-color: #6e6c67;
    font-size: 0;
    display: inline-block;
    border-radius: 0.375rem;
    margin-bottom: 12px;
}
.intro > h1{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    font-weight: 700;
}
.intro > h5{
    text-align: justify;
    line-height: 1.8;
    margin-left: 60px;
    margin-right: 60px;
    text-indent: 50px;
}
/* h5{
    line-height: 1.75;
} */
.carousel-item > img{
    height: 250px;
    object-fit: cover;
}
.card-text{
    text-align: justify;
    text-indent: 20px;
    height: 100px;
}
.card > img{
    height: 250px;
    object-fit: cover;
}
.speciality-card{
    text-align: center;
    height: 200px;
    width: 200px;
    margin-right: 0;
}
.containerListGroup{
    width: 100%;
    text-align: center;
}
.owl-theme > img{
    height: 250px;
    object-fit: cover;
}
.news-image > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.my-card-text{
    text-align: justify;
    /* text-indent: 30px; */
}
.item-contacte{
    /* display: block; */
    display: inline;
    width: 400px;
}
.contacte > text-uppercase{
    text-align: center;
}
.logo_contacte{
    width: 100px;
    height: 100px;
    text-align: center;
}
.social-contacts{
    text-align: center;
}
.follow_us{
    /* text-align: center; */
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
footer{
    background:#6e6c67;
    color: white!important;
    height: 100px;
    text-align: center;
}
.text-banner > b{
    font-size: 67px;
}
.oportunitati_carousel > .item > img{
    width: 100%;
}
@media screen and (max-width: 960px) {
    .banner_image{
        height: 600px;
    }
    #menu_logo_feisa{
        display: none;
    }
    .text-banner{
        font-size: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .text-banner > b{
        width: 50%;
        display: block;
    }
  }

  @media screen and (max-width: 960px) {
    #menu_logo_feisa{
        display: none;
    }
    .text-banner > b{
        font-size: 30px!important;
    }
    /* .text-block-header{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute; 
    }*/
    /* .text-banner{
        font-size: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; 
    }*/
    /* .text-banner > b{
        width: 70%;
        display: block;
    }  */
  }
  @media screen and (max-width: 1230px) {
    .card-text{
        font-size: 12px;
    }
}
@media screen and (max-width: 995px) {
    .card-text{
        font-size: 10px;
    }
}
@media screen and (max-width: 576px) {
    .text-banner > b{
        font-size: 20px!important;
    }
}
  @media screen and (max-width: 760px) {
    .card-text{
        font-size: 20px;
    }
    .banner_image{
        height: auto;
    }
}

@media screen and (min-width: 960px) {
.banner_image{
    height: 100vh;
}
}